body {
  text-align: center;
  font-family: Helvetica;
}
#home, #design, #bottom, a {
  color: white;
}
#home, #design {
  background-image: url(../images/the-flatiron-building.png);
}
h1 {
  font-size: 70px;
}
a {
  font-size: 18px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px
}
p {
  font-size: 14px
}
span #bottom {
  font-size: 11px
}
#bottom {
  text-align: left;
  background-color: dimgray;
}
